@property --color1 {
    syntax: '<color>';
    initial-value: white;
    inherits: false;
}

@property --color2 {
    syntax: '<color>';
    initial-value: white;
    inherits: false;
}

body {
    margin: 0;
    font-size: 12px;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(var(--myColor1), var(--myColor2));
    transition: --myColor1 3s, --myColor2 3s;
}

.prayer_name{
    align-items: left;
}

.prayer_time{
    align-items: right;
}

.container {
    width: 93%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.top, .middle, .bottom {
    width: 100%;
}

.top {
    text-align: center;
    height: 15%;
}

.middle {
    display: flex;
    flex-direction: column;
    height: auto;
}

.bottom {
    height: 15%;
    text-align: center;
}

.fajr_div, .dhuhr_div, .asr_div, .maghrib_div, .isha_div {
    color: white;
    display: flex;
    justify-content: space-between;
}

button {
    margin-top: 5px;
    margin-bottom: 5px;
    border: black solid 1px;
    border-radius: 20px;
    transition: opacity 0.5s;
    opacity: .5;
}

#fajr_button {
    background-image: linear-gradient(315deg, #858bb1 0%, #1172b3 100%);
}

#fajr_button:hover {
    opacity: 1;
}

#dhuhr_button {
    background-image: linear-gradient(315deg, #2980b9 0%, #6dd5fa 100%);
}

#dhuhr_button:hover {
    opacity: 1;
}

#asr_button {
    background-image: linear-gradient(315deg, #025d9a 0%, #b8d4df 100%);
}

#asr_button:hover {
    opacity: 1;
}

#maghrib_button {
    background-image: linear-gradient(315deg, #fbc2eb 0%, #2b68d0 100%);
}

#maghrib_button:hover {
    opacity: 1;
}

#isha_button {
    background-image: linear-gradient(315deg, #1B0025 0%, #2B2F77 100%);
}

#isha_button:hover {
    opacity: 1;
}
